[2015-05-04 17:47] elfet opened #6 "Migration to 3.0"
Are deployphp/recipes ready for Deployer 3.0? :smile: :beers:

[2015-05-04 17:56] gordalina commented on #6
I though best to keep recipes version compatible with Deployphp's major version, this reduces friction for newcomers. There are two [branches/tags](https://packagist.org/packages/deployphp/recipes), one for `2.x` and other to `3.x`.

Also you can have a look et the [upgrade commit tagged as 3.0.0](https://github.com/deployphp/recipes/commit/2b3a80a39b0dc138f7fe757211d79df22c8973f9) and its [docume

[2015-05-04 18:01] gordalina commented on #6
The recipes need to be updated with merge of deployphp/deployer#219

[2015-05-16 12:11] elfet commented on #6
Well, what about moving next? :dart:

[2015-05-19 18:13] gordalina commented on #6
Will update :)

[2015-05-20 02:50] elfet opened #7 "Add Gitter"
What about adding gitter support?
https://gitter.im/deployphp/deployer

[2015-05-20 02:53] elfet opened #8 "Create recipes page on deployer.org"
What about creating recipes page on deployer.org? Which will be automatically parse this repository and what main information about all recipes (task list, parameters, env vars, doc blocks). :heavy_plus_sign:  search of recipes?

[2015-05-20 12:51] gordalina commented on #7
:+1:

[2015-05-20 12:51] gordalina commented on #8
sounds good, do you have anything in mind to accomplish this?

[2015-05-20 13:14] elfet commented on #8
I think there is must be route:
[code]
Which will be parse GitHub repositories (deployphp/recipe/*, deployphp/deployer/recipes/*) for `*.php` files with GitHub API. And parse PHP code of recipe, collecting data (task names, env vars, params) and DocBlock. And generate one page with all recipes on it.

[2015-05-22 09:59] gordalina commented on #6
Need deployphp/deployer#272 to perform update

[2015-05-26 11:37] ZeeCoder commented on #6
It's done: https://github.com/deployphp/deployer/pull/290

[2015-06-11 09:00] johnny-bit commented on #8
The recipes themselves have docs as required by Contributing section in readme. Why not instead of parsing php file, get markdown doc for each recipe and render it using something like Parsedown?

[2015-06-11 09:10] ZeeCoder commented on #8
If you look at the [docs](https://github.com/deployphp/docs) repo, this is exactly what the site does.
Now I think the idea here is that now the "API" of the recipes would be available on the site, which would be generated dynamically.

I think @elfet means to keep the existing recipe documentation, since there could be a lot to explain about a recipe's usage / best practices, but it would be grea

[2015-06-11 09:33] johnny-bit commented on #8
Ah, I see :)

2015-06-11 11:10 GMT+02:00 Hubert Viktor <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2015-06-11 10:43] elfet commented on #8
Yeah, we need some place to collect all recipes...

...and rule them all!

[2015-06-12 00:04] gordalina opened #11 "Recipes Do's and Don'ts"
This issue comes from #10, where rsync (as an alternative deployment method) exposes and overwrites certain tasks and even the `deploy` task.

We can either allow a recipe to override tasks, which is much easier for the end-user which is just plug and play.
On the other hand, for custom deploy scripts, overriding tasks can become an issue, where end-users want a specific task but it is overridden

[2015-06-12 18:45] johnny-bit commented on #11
sooo I went ahead and changed `rsync.php` into type 1. now rsync is a useful task :smiley:

Now... to shared hosting workflow!

[2015-06-16 15:44] johnny-bit commented on #11
So to sum up some suggestions from #10 and #12:

- use short file names.  Eg `ftp` instead of `ftp_upload_to_server_recype_by_me`
- prefix tasks with recipe name. if You have task named `mytest` in `myrecipe` it should be named `myrecipe:mytest`
- use global settings keyed by your recipe name. If You have one setting, name it the same as Your recipe. If You have multiple settings, use associative

[2015-06-16 15:50] gordalina commented on #11
that looks about right :)

[2015-06-16 15:59] elfet commented on #11
Good :+1:

[2015-06-16 16:05] elfet commented on #8
I try to do it myself right now +)

[2015-06-16 16:06] gordalina commented on #8
that would be awesome :smile: :beers:

[2015-06-16 19:04] elfet commented on #8
DONE! http://deployer.org/recipes

[2015-06-16 19:04] #8 closed

[2015-06-16 19:25] ZeeCoder commented on #8
Nice :+1:
Although there's quite a few 404 errors in the Recipes table. ><

[2015-06-16 22:10] gordalina commented on #8
good job @elfet

[2015-06-17 00:47] elfet commented on #8
@gordalina can you rewrite README to relative links? (Like in docs)

[2015-06-17 09:59] gordalina commented on #8
done on 968b283145f2700cb8a0074ec8dead9e72f7bdfa

[2015-06-17 10:18] uran1980 opened #13 "How to migrate from capistrano 2.x or 3.x to deployphp?"
Hi, is there any how-to docs? Thanks.

[2015-06-17 10:36] gordalina commented on #13
Hi @uran1980, this is a recipes repository for deployer, It would be best to open an issue on deployphp/deployer

[2015-06-17 10:36] #13 closed

[2015-06-17 10:40] gordalina commented on #7
Added on dff3dbf99a0f4824ee269bda299dd16ed6375190

[2015-06-17 10:40] #7 closed

[2015-06-17 10:52] ZeeCoder commented on #13
I like the idea @uran1980, so please do reopen this issue in the deployer repository. :)

[2015-06-18 11:00] #11 closed

[2015-07-22 01:28] oanhnn commented on #6
I am closing this issue but please feel free to reopen if there is something else you need addressed.

[2015-07-22 01:28] #6 closed

[2015-08-25 07:34] Baachi opened #32 "Rsync task does not recognize the server password"
Hey guys,

it seems the rsync task does not recognize the server password. The script ask me everytime for the server password.

Maybe this is a bug?

[2015-08-25 08:02] johnny-bit commented on #32
Is not a bug is a known feature of rsync. cannot pass password via params
to rsync, so either you'll have to setup passwordless auth (it's easy!),
put up wit passwords everytime (it's bothersome) or me/you/somebody will
come up with expect script for that and PRs it + makes sure it works in all
configs/locales which is a bitch to make.

So... yeah. I don't like having to put passwords either, but

[2015-10-21 10:47] mkurzeja opened #33 "Cachetool - use env instead of set/get"
I think that the cachetool recipe should use env() instead of get() to load cachetool options. It is quite likely to have different fpm settings for different servers. For example: we have fpm on our staging server listening to localhost:9001 but the production server can run on a different port or use unix sockets.

I could prepare a PR - to keep the backwards compatibility the recipe would use t

[2015-10-21 17:34] gordalina commented on #33
Your reasoning is good, please do prepare a PR. Thanks
On qua, 21/10/2015 at 03:47, Michał Kurzeja <notifications@github.com>
wrote:

[2015-10-22 18:55] #33 closed

[2015-10-22 18:55] gordalina commented on #32
closing this. please reopen if you feel that you should.

[2015-10-22 18:55] #32 closed

[2015-11-13 08:06] webdevilopers commented on #13
Have you opened a new issue @uran1980 ? Can you please link it? Thanks!

[2015-11-13 08:07] webdevilopers commented on #13
Ah, there we have it: https://github.com/deployphp/deployer/issues/359

[2016-02-01 18:49] karakum opened #39 "recipes/slack.php: got "Call to undefined method Deployer\Server\Local::getConfiguration()" using localServer(...)"
"Local" server implementation does not have "configuration" property.

[2016-02-26 01:52] #39 closed

[2016-02-26 01:53] oanhnn commented on #39
@karakum Thank you for reporting bug.
I fixed it. Please check again.

[2016-03-11 07:35] achristodoulou opened #42 "Copy composer vendor folders"
Hi,

I have created a task that checks if vendor folder exists to copy it to new release instead of downloading everything again. If you think that this is useful tell me and I ll do a pull request.

[code]

[2016-03-11 07:39] elfet commented on #42
Hi! How this speed ups deploys?

Note what composer itself caching vendor, so it's does not download it every time.

[2016-03-11 08:04] achristodoulou commented on #42
True, but when you have for example 118 packages (this is my case :))  and no one is install then composer will have to go one by one and get them from cache and that requires more time against copying the existing vendor directory and then composer installing only what is required.

[code]

[2016-03-11 08:11] oanhnn commented on #42
@achristodoulou
1. If copy, when project require new package (change `composer.lock`), it wont be download.
2. In your task, `file_exists` is check on local machine, but `run` is running remote machine. :-1:

[2016-03-11 08:21] achristodoulou commented on #42
1. During development you add a new package to your composer.json, run composer update and then commit your changes including composer.lock. When u run composer install in production it will read your packages from composer.lock correct? If so the new package will be download.
2.True I am running this on localServer

[2016-03-11 08:54] oanhnn commented on #42
Your `deploy` task look like?
[code]

[2016-03-11 08:55] achristodoulou commented on #42
Yes, actually is like this.

[code]

[2016-03-11 09:08] achristodoulou commented on #42
Anyway, the initial idea was to optimize the deployment procedure on localServer, so if by copying vendors will not do any harm I am ok with this. And as you can see in my previous post, the execution time is about half :)

[2016-03-11 10:02] achristodoulou commented on #42
Fyi, after checking the existing recipes I found out that in common.php there is a task called "deploy:copy_dirs" which is doing the same thing as I have suggested, is just more generic.

[2016-03-11 10:02] #42 closed

[2016-03-11 10:31] elfet commented on #42
Can you write a docs for it?

[2016-03-11 10:38] achristodoulou commented on #42
Are you referring to the existing task in common.php 'deploy:copy_dirs', if that so, yes I can update doc in https://github.com/deployphp/docs/blob/master/recipes.md accordingly.

[2016-03-11 10:40] elfet commented on #42
Yes, it will be nice :)

[2016-03-11 10:57] achristodoulou commented on #42
Created pull request

https://github.com/deployphp/docs/pull/52

[2016-04-07 04:16] oanhnn opened #45 "Release version 3.1"
Tasks:
- [ ] Merge PR #44
- [ ] Release new version support custom bin feature https://github.com/deployphp/deployer/pull/608

[2016-04-12 08:50] #45 closed

[2016-04-13 10:56] 42antoine opened #46 "env "bin/composer" in local:vendors, run remotely"
I want to report that the "bin/composer" common recipe functionality work remotely and this could be a constraint for local:vendors command execution.

I propose something like

[code]

Maybe could be useful to put it in doc or directly in local recipe. What your opinion on that ?

[2016-04-13 11:15] oanhnn commented on #46
I think why not using `localServer()` instead of local recipe ?

[2016-04-14 03:18] elfet commented on #46
Detecting composer and other bin on local machines really complicated thing to separate some common things (mac, linux, windows, ...).
So it's better to define your own paths, like `set('local/composer', '/path/to')`

[2016-04-14 03:57] oanhnn commented on #46
This is a bug of my PR. But i want ask: What are you think about using  a `localServer()` instead of local recipe?

I think it better, because local server has same interface with remote server.
I am always using localServer to deploy local stage.

[2016-04-14 07:56] 42antoine commented on #46
Because i'm relatively new to the use of deployer...
If i correctly understood the use of localServer, it only did to deploy on the same computer/server you are executing the deployment, like you previously explained it @oanhnn.

In my case, i'm using local recipe to prepare deployment files : fresh project clone, composer install, npm/bower install and execute other stuff i could not execute on F

[2016-04-14 10:06] oanhnn commented on #46
I'm understanding your case included 2 steps:
1. Deploy your project to local
2. Upload you project

[2016-04-19 04:06] oanhnn commented on #46
@42antoine I am resolved this issue by PR #48 .
Please waiting for @deployphp/maintainer merge.

[2016-04-19 12:58] 42antoine commented on #46
👍

[2016-04-26 11:36] johnny-bit commented on #46
Hello! #48 looks mighty fine indeed :+1:

[2016-04-29 07:56] ju1ius opened #50 "Release names are hard to read."
[EDIT] submitted to the wrong repo, sorry

[2016-04-29 08:02] #50 closed

[2016-04-29 08:03] johnny-bit commented on #50
I see no difference between 20160425120500 than 2016-04-25_12:05:00. plus
characters like ":" and "." may be problematic ;)

2016-04-29 9:56 GMT+02:00 ju1ius <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-04-29 09:09] ju1ius commented on #50
@johnny-bit Well then you have nice superpowers! :wink:
Not having an exceptionaly accute sight, I find that this:
[code]
Is a lot harder to scan than this:
[code]
I can tell much quicker what's the month, day, hour of a release, without having to think about it.

`:` might be on windows maybe, but then everything is gonna be problematic, since recipes expect a POSIX shell...
`.` is never to be pr

[2016-05-02 12:18] nmarniesse opened #52 "recipes/rsync.php: got "Call to undefined method Deployer\Server\Local::getConfiguration()" using localServer(...)"
As #39, rsync recipe have the same problem with localServer :

    PHP Fatal error:  Call to undefined method Deployer\Server\Local::getConfiguration() in /root/inao/deploy/vendor/deployphp/recipes/recipes/rsync.php on line 128

Thanks

[2016-07-18 13:21] peschee opened #62 "local recipe does not support parallel deployments"
It already fails on this line of code

[code]

in the `local:release` task in `local.php`.

@elfet What is the best way to support / handle parallel releases? Maybe I can come up with a PR.

[2016-07-18 13:49] elfet commented on #62
`--parallel`?

[2016-07-18 16:05] peschee commented on #62
I know how to start the parallel release, however, the local recipe fails when using the `-p` or `--parallel` parameter.

[2016-07-18 17:39] johnny-bit commented on #62
local recipe was not created with parallel deployments in mind. this code
is almost direct clone of common recipe. Why don't you try and tackle the
problem? Maybe convert whole recipe to use local sever instead of run
locally if that would help?

2016-07-18 18:05 GMT+02:00 Peter <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-07-21 06:29] hirnschmalz commented on #32
If someone have the same problem: working with keychains may solve your problems ;) At least on Linux (http://www.funtoo.org/Keychain) / macOS

[2016-07-21 12:42] peschee commented on #62
@johnny-bit Thanks for the feedback. Yes, I have notices that it has not been created in a way to support parallel deployments. That's why I asked @elfet if there is something to adhere to when supporting (as in adding it to the local recipe as a feature) parallel deployments.

We'll be using the recipe without parallel deployments for now.

[2016-07-21 12:42] #62 closed

[2016-07-26 02:43] #46 closed

[2016-09-15 10:53] philippfroebel opened #65 "local recipe with rsync and multiple servers crash on 'local:update_code',"
The output with error message:

[code]

The deploy.php

[code]

And the serverlist.yml

[code]

What is going wrong with the setup?

Greetings Philipp

[2016-09-17 15:45] johnny-bit commented on #65
Hi!

Your stacktrace shows that something is wrong, but not essentially with local recipe. Stacktrace mentions that problem originates in line 116 in _local_ recipe. This is weird because the line there is only:
[code]

which should in turn evaluate to what's on line 16-18:
[code]

None of which should ever cause problems.

My rough guess would be... Update your deployer and recipes to newest vers

[2016-09-19 07:49] philippfroebel commented on #65
Hi Johnny,

I use

deployer/deployer           v3.3.0  Deployment Tool
deployphp/recipes           3.1.0   3rd party deployer recipes

in my 'vendor/deployphp/recipes/recipes/local.php' file line 116 looks so

[code]

[2016-09-19 08:13] johnny-bit commented on #65
Update them to newest versions - shoud fix most of the problems :)

2016-09-19 9:49 GMT+02:00 Philipp Fröbel <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-09-19 10:47] philippfroebel commented on #65
hi,

which version do you mean?

I use this version

deployer/deployer v3.3.0 Deployment Tool
deployphp/recipes 3.1.0 3rd party deployer recipes

these are the newest version on github and packagist.org. Or you mean the dev version?

[2016-09-19 11:04] johnny-bit commented on #65
Ah, sorry. No need to go to dev versions then.

Technically it should work as-is. Most probably the command itself fails.
Can You try running said clone command by hand?

2016-09-19 12:47 GMT+02:00 Philipp Fröbel <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-09-19 11:13] philippfroebel commented on #65
i think its a problem with the server ietration. for the last server the script try to run the command from previous server and the git clone fail because the target already exists.

[code]

[2016-09-19 11:24] johnny-bit commented on #65
hmmm... interesting... if you're not running in parallel, teh maaaaybe do
local:update_code only on api1?

2016-09-19 13:13 GMT+02:00 Philipp Fröbel <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-09-19 11:41] philippfroebel commented on #65
how i can disable parallel deploy?

[2016-09-19 11:55] philippfroebel commented on #65
ok i run the deploy only with api1 and the local:update_code runs once

[2016-09-19 11:55] johnny-bit commented on #65
it's usually not enabled :) you'd enable it by passing "--parallel" to
command line :)

so... try to do task update_code onlyOn api1

2016-09-19 13:41 GMT+02:00 Philipp Fröbel <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-09-19 12:27] philippfroebel commented on #65
ii try it but update_code runs on all servers and the same error comes

[code]

[code]

[2016-10-03 16:42] ket4yii opened #66 "Rsync authentication by username and password."
Why is there only one way to connect to a server? It would be great, if somebody implements this feature.

[2016-10-03 16:52] johnny-bit commented on #66
Either private key, or no-pass... or you could tackle something like
`expect` script, or whip some `sshpass` wrapper... there are couple
possible solutions but none are universal and all fails due to ssh way of
handling things.

2016-10-03 18:42 GMT+02:00 Boyko Alexey <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-10-03 17:04] ket4yii commented on #66
Yes, of course I can handle it by hands(and there is no better way than using keys), but this way makes this recipe meaningless for me. Anyway, I will try to look for another way to work it out.

[2016-10-03 17:04] #66 closed

[2016-10-17 10:14] johnny-bit commented on #65
Hi! Does the problem persist in newest tagged version?

[2016-10-17 10:14] johnny-bit commented on #52
Hi! Does the problem persist in newest tagged verision?

[2016-10-18 09:42] nmarniesse commented on #52
Problem is fixed now. Thanks a lot!

[2016-10-18 09:42] #52 closed

[2016-10-24 14:51] mficzel opened #67 "Namepace-error when recipes are used together with deployer 4.x"
If the recipes are used together with the deployer branch 4.x deployments fail with the message "Uncaught Error: Call to undefined function env()"

The background is that deployer 4.x introduces the `Deployer`-namespaces in functions.php. The recipes have to be adjusted accordingly. For instance `env()` should become `\Deployer\env()`. Since this is not backwards compatible this should be done in

[2016-10-24 17:17] elfet commented on #67
Please show your deploy.php file.

[2016-10-25 06:27] mficzel commented on #67
I boiled it down a bit but this is enough to get the error:

[code]
The exact error is the following:
[code]

[2016-10-25 06:30] mficzel commented on #67
The problem is that the method ``env()`` was moved to the ``namespace Deployer`` in the 4.x branch of deployer. So either this namespace must be used or the fullyQualyfiedName of that method ``\Deployer\env()`` must be used.

I think the easiest solution would be to add ``use \Deployer;`` to all recipes in ``deployphp/recipies`` but this would be a breaking change.

[2016-10-25 06:37] elfet commented on #67
I think we need new version of recipes for 4.x.

[2016-10-25 06:38] elfet commented on #67
@gordalina i'm going switch branches for main deployer repo:

* master -> 3.x
* 4.x -> master

Can you do so for recipes?

[2016-11-12 17:12] elfet opened #68 "Get ready for Deployer v4"
Hi,

I think Deployer v4 is almost ready and it will be cool if recipes will be updated for it too.
ping @deployphp/maintainer

[2016-11-12 18:13] oanhnn commented on #68
I think the first, you should write a change log for Deployer 4.
We will working follow change log.

[2016-11-13 12:04] elfet commented on #68
Refactored recipes. Btw, now new package name: *deployer/recipes*.

[2016-11-13 12:04] #68 closed

[2016-11-13 12:05] #67 closed

[2016-11-13 12:06] elfet commented on #65
I think no :)

[2016-11-13 12:06] #65 closed

[2016-11-22 07:53] pniederlag opened #72 "race condition in local recipe?"
I think concurrent builds (for example on a CI-/CD-Server) are potentially having bad side effects due to the fact that the local recipe uses a fixed path '/tmp/deployer' as local_deploy_path.

Using mktemp or another way to ensure working in a uniqe directory would make the local recipe more robust for concurrent runs.

On the other hand I am not sure yet on the main purpose or usage scenario for

[2016-11-22 08:20] elfet commented on #72
What about starting build in separate containers?

[2016-11-22 08:32] johnny-bit commented on #72
As the author of "local" recipe I can tell you main purpose for me :)
Simply, when deploying to limited environments, where you can't do stuff
required to build dependencies, etc, you can use local recipe as a basis
for building suff locally and then send it (for example usin rsync recipe)
to remote server :)

2016-11-22 9:20 GMT+01:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hub

[2016-11-30 08:55] security-database opened #74 "Phinx recipes"
Hello

It seem that phinx recipe is not working anymore with deployer 4.0.

[2016-11-30 12:55] elfet commented on #74
Can you careate pr to fix it?

[2016-11-30 14:19] security-database commented on #74
I think it's a PHP7 incompatibility and a miss of namespace Deployer;

Afetr adding namespace Deployer on the top,
thow me an error when i deployer phinx:migrate

Seem that PHP7 don't like, for exemple:
`$conf = get('phinx_get_allowed_config')($ALLOWED_OPTIONS);
`

[code]

[2016-12-01 10:21] ket4yii commented on #74
@elfet, it can be fixed by moving some functions to global scope from get/set. As I can see, you change a way to get closures from get/set(to call_user_func). Now the recipe can't pass arguments to them. How do you think, if I move functions from get/set, will it pollute global scope?

[2016-12-01 13:09] marmotz opened #77 "Bug in rsync:warmup"
When I deploy my project, the `rsync:warmup` task seems to be wrong:

[code]

It tries to rsync release 1 to release 2 instead of release 2 to release 3

I think it's because you have just change release management, no ?

[2016-12-01 22:49] johnny-bit commented on #77
I honestly hadn't had time to review all changes in release management and
how it affects warmup. If you can - please submit a pr that would fix this
:)

2016-12-01 14:09 GMT+01:00 Renaud LITTOLFF <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2016-12-02 11:48] elfet commented on #74
What functions? Why not add `namespace Deployer;`

[2016-12-03 05:36] #74 closed

[2016-12-03 13:13] marmotz commented on #77
@johnny-bit @elfet just created PR #81 to fix this bug.

[2016-12-04 04:19] #77 closed

[2016-12-07 15:37] bonndan opened #82 "Please release 4.0.5 to fix phinx recipe"
In 4.0.4 the phinx recipe has no namespace, leading to crashes. Thanks!

[2016-12-07 16:04] bonndan opened #83 "phinx recipe does not work under PHP 7+"
The closuritis suffers from backward incompatible changes, see

http://php.net/manual/en/migration70.incompatible.php
"Changes to the handling of indirect variables, properties, and methods"

[code]

[2016-12-08 05:30] elfet commented on #82
I think first need to fix #83

[2016-12-08 05:39] bonndan commented on #82
Yeah, thanks. I discovered #83 a bit later.

[2016-12-08 06:11] elfet commented on #83
@bonndan can you create PR for it?

[2016-12-08 06:29] bonndan commented on #83
Really sorry, no. I would like to contribute, but have no time to fix it. My workaround is to call phinx via "run" and that works for now.

[2016-12-22 22:23] ket4yii commented on #83
It happens because in the code, two 'sets' stores util functions as closures. Roughly said, it's kind of a currying. I've done it according to [this](https://github.com/deployphp/recipes/pull/54#issuecomment-222492113). As I understood, he meant functions, that's not in closures, can pollute the scope. But in the current version of deployer I don't think it's relevant(because of namespace). There

[2016-12-25 22:55] ENM1989 commented on #83
The second solution does not work, because in Server/Environment::get call_user_func will always be called without the "parameter" parameter. Server/Environment::get does only work with callables without parameters.

I think the first solution is the best one.

Otherwise, the implementation of "getCallable" and "setCallable" would be an option.

[2017-01-09 11:45] mbrodala commented on #72
@pniederlag You can also do something like this:

[code]

You'd need to set this for every server of course but this way you can avoid conflicts.

[2017-01-11 05:59] glensc opened #94 "slack recipe depends on stages"
given common config

[code]

the slack notifier throws exception:
[code]

[2017-01-11 17:22] elfet commented on #94
Yes, it's better to check if it is exists. I want to refactor slack recipe a long ago.

[2017-01-12 07:48] leevigraham opened #97 "recipes/newrelic.php uses runLocally to determine commit"
I could be wrong but it looks like recipes/newrelic.php uses runLocally to set the `newrelic_deploy_revision` and `newrelic_deploy_description`.

* https://github.com/deployphp/recipes/blob/master/newrelic.php#L14
* https://github.com/deployphp/recipes/blob/master/newrelic.php#L17

If this is the case isn't it possible that the local machine is on a completely different branch / commit than the ta

[2017-01-12 10:20] glensc commented on #94
do you have design doc how you want to refactor it?

[2017-01-12 10:43] elfet commented on #97
Yes, thats possible. Need to figure out what the best solution here.

[2017-01-12 10:44] elfet commented on #94
No, i think create more useful and readable messages. Maybe have a few different styles of alerts.

[2017-01-12 22:00] leevigraham commented on #97
@elfet I'm looking into adding a logging task for deployments which will need the current commit. Once I figure that out I'll update the recipe with a PR.

[2017-01-12 22:11] leevigraham commented on #97
Maybe something like:

    $git = array(
        'user' => trim(runLocally('git config user.name')),
        'revision' => trim(run('cd {{current_path}} && git log -n 1 --format="%h"')),
        'description' => trim(run('cd {{current_path}} && git log -n 1 --format="%an: %s" | tr \'"\' "\'"')),
    );

[2017-01-13 12:34] leevigraham commented on #97
Just came across an additional issue… in the scenario where deployer is being called from a build process git config user.name might not be set. I wonder if we should use `${USER}@${HOSTNAME}` instead

[2017-01-18 12:20] neikei opened #101 "New Relic for remote deployment"
The current newrelic.php script is written to run the git commands locally, but this will not work if you deploy your stuff on a remote server. I would prefer an autodetect, but I am not sure if this is possible.

[2017-01-18 12:28] elfet commented on #101
Yes, this is nice feature to have. I will think how to implement this.

[2017-01-24 09:58] jdecool opened #103 "Backport Phinx recipes to 3.x branch"
Phinx recipe is available in the "latest" branch.

In a legacy project we are currently migrate, we have to use the v3 of Deployer and the recipe is not available.

Is it possible to backport the Phinx recipes in the 3.x branch ?

[2017-01-24 11:51] elfet commented on #103
Yes, it's possible if you can create PR?

[2017-01-24 12:36] jdecool commented on #103
I will do it this week.

[2017-02-19 14:50] mryanb opened #107 "Call to a member function desc() on null - local.php"
The following example from local.php fails on the `after` function with the error `Call to a member function desc() on null`

[code]

[2017-02-19 16:35] elfet commented on #107
After dont have desc.

[2017-02-19 16:52] mryanb commented on #107
If I remove `->desc()` I then get this error:

[code]

[2017-02-19 17:03] elfet commented on #107
Please, show full deploy.php file.

[2017-02-19 17:06] mryanb commented on #107
[code]

[2017-02-20 06:09] elfet commented on #107
Really strange. Can you debug this steps?

[2017-02-20 20:12] mryanb commented on #107
@elfet Any suggestions for debugging here?

[2017-02-20 20:27] pdbreen commented on #107
Try using the closure to define a task and then use that task name for the after hook:

[code]

[2017-02-20 21:52] mryanb commented on #107
@pdbreen Thanks, your advise coupled with -vvv was able to uncover an issue with composer running locally.

[2017-02-20 21:52] #107 closed

[2017-02-23 09:28] snowiow opened #109 "slack ignores branch option"
Hi, the main deployer recipes like [update_code.php](https://github.com/deployphp/deployer/blob/master/recipe/deploy/update_code.php#L19) are also checking if the branch option is set. Is there a reason why the option is ignored in the slack recipe? Otherwise I would like to do a PR for this. Thanks in advance 🙂

[2017-02-23 11:35] elfet commented on #109
No, pr will be good 🙂
Also refactoring of slack recipe will be awesome 👍🏻

[2017-02-23 19:51] snowiow commented on #109
Hi, which things do you want to refactor in the slack recipe? Maybe I can help you with that.

[2017-02-24 06:53] elfet commented on #109
Make it more BEAutiful 🌈

😆

[2017-02-24 06:56] #109 closed

[2017-03-15 14:10] rayphi opened #112 "__DIR__ does not return working directory"
The directory of the file. If used inside an include, the directory of the included file is returned. This is equivalent to dirname(`__FILE__`). This directory name does not have a trailing slash unless it is the root directory.

https://github.com/deployphp/recipes/blob/master/configure.php#L50

`__DIR__` should be replaced by `getcwd()` wich returns the working directory.

[2017-03-15 16:47] elfet commented on #112
Done.

[2017-03-15 16:47] #112 closed

[2017-03-16 08:29] mjrider opened #114 "Newrelic recipe triggers a Symfony style error"
the code on line https://github.com/deployphp/recipes/blob/master/newrelic.php#L34
Triggers the following error:
[code]

This seems triggerd by the '=>' after application_id

[2017-03-16 08:37] elfet commented on #114
Can you send PR with fix?

[2017-03-16 09:46] mjrider commented on #114
oke, some more debugging, i think it is maybe not related to deployer
it only breaks when your terminal is between  72 and 134 columns

[2017-03-16 10:03] elfet commented on #114
Maybe delete `=>` at all?

[code]

[2017-03-16 10:06] mjrider commented on #114
yes that would work around the problem.

i think that we just found a bug in symfony, but my symfony knowledge is to  small to create a small reproduction script so i could file a bug with symfony

[2017-03-16 10:19] elfet commented on #114
I think, lets fix this recipe first. Maybe someone get this too.

[2017-03-16 10:33] mjrider commented on #114
oke, made a reproduction and a bugreport
https://github.com/symfony/symfony/issues/22021
https://github.com/mjrider/break-symfony-console

[2017-03-16 13:19] jordscream commented on #114
@mjrider , I have this in local

<img width="702" alt="capture d ecran 2017-03-16 a 14 18 26" src="https://cloud.githubusercontent.com/assets/616999/23997914/946d1e12-0a53-11e7-86f9-aebd0dd7f30e.png">

[2017-03-16 13:36] mjrider commented on #114
@jordscream did you try it on different terminal sizes ? because if the terminal is small or big enough, it will not fail

[2017-03-16 13:37] jordscream commented on #114
@mjrider , Indeed I reproduce the problem after 74 columns :-/

[2017-03-16 13:40] mjrider commented on #114
![screenshot at 2017-03-16 14-38-48](https://cloud.githubusercontent.com/assets/213105/23998753/5c28b59a-0a56-11e7-89e8-a87c847fd85b.png)
see the broken `</info>` tag in the output and the tput cols output

[2017-03-16 13:58] jordscream commented on #114
@mjrider it's effectly a symfony bug. I'll check

[2017-03-21 11:49] Lukash82 commented on #112
Please create tag with this fix https://github.com/deployphp/recipes/blob/master/configure.php#L50
Now this recipe works only in the master branch

[2017-03-21 12:12] antonmedv commented on #112
Done.

[2017-03-22 09:46] Lambik opened #116 "Slack recipe depends on the project being present"
Hi,

I'm deploying the project from a server that contains only the deploy.php file, with the vendor folder. It does not have the entire project with its .git folder there, because it's not needed in our setup.

However, in that case, the slack recipe fails, because it reads data using `git` (like branch, user, revision and so on). I'm fine with not having that information in the slack message (ju

[2017-03-22 10:37] antonmedv commented on #116
Will try to do it, for now you can use Slack API directly.

[2017-03-25 19:14] mjrider commented on #114
Looks like symfony is going for the option of removing formatting from exceptions.
https://github.com/symfony/symfony/pull/22142

[2017-03-26 03:14] tuupola opened #118 "Slack recipe no_text exception with 4.0.6"
I use the following config to get rid of the new style deployment messages.

[code]

This works up  4.0.5. However starting from 4.0.6 it fails with `no_text` exception.

[code]

[2017-03-26 03:26] tuupola opened #119 "Slack recipe broken with PHP 5.6 since 4.0.6"
Null coalescing operator is used in https://github.com/deployphp/recipes/commit/93b6fb20ca190871af8f18e218cbf99fb4b4b137. This is a PHP 7 only feature ie. breaks the recipe with PHP 5.6.

[code]

[2017-03-26 03:32] tuupola commented on #118
Probably caused by https://github.com/deployphp/recipes/commit/93b6fb20ca190871af8f18e218cbf99fb4b4b137#diff-00f303972eedc9826fe838ac00ae5946R122 which seems to check if config setting exists but does not use the actual value of it.

[2017-03-27 13:14] hslatman commented on #119
I just opened https://github.com/deployphp/recipes/pull/120 for this.

[2017-03-27 14:40] chalasr commented on #114
In fact, the exception message will stay raw, for instance `<info>Exception!</info>` will stay as is in the output. I suggest you to don't throw the exception, but use the SymfonyStyle API instead (see [`SymfonyStyle::block()`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Console/Style/SymfonyStyle.php#L68), [`SymfonyStyle::error()`](https://github.com/symfony/symfony/blob/

[2017-03-27 16:29] antonmedv commented on #119
Fixed

[2017-04-04 06:52] antonmedv opened #125 "Deprecate local recipe"
Now local recipe is a copy of common recipe with replaced `run` calls by `runLocally` calls.
I would like to leave only one copy of those recipes – common.

To do so, in Deployer v5 was introduced `task(...)->local()` api.

@johnny-bit @nickdenardis let's talk about it.

For example, to make a task local:
[code]

But now it will not work, because localhost created inside [SeriesExecutor](https://g

[2017-04-04 08:16] johnny-bit commented on #125
This seems like a sane idea. Main motivation behind local recipe was that
`common` recipe was remote-server exclusive ;)

Plus your proposed handling of groups is perfect for my main use-case and
sole reason for rsync recipe to exist :)

2017-04-04 8:52 GMT+02:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-04-04 16:27] nickdenardis commented on #125
I agree with @johnny-bit this sounds like a good idea.

I'm not as familiar with the inner workings of deployer, need to get up to speed with the v5 codebase.

But that two phase example you provided is spot on!

[2017-04-08 09:19] antonmedv commented on #125
I found a nice solution without complicating code. I think what build always should be performed on one host.
[code]
And this is already working! More, it's possible to specify different host for as build machine(!) not only localhost.

[2017-04-08 09:36] johnny-bit commented on #125
Hmm... At first it was hard to follow, but then I have to agree. I mean -
in some of my deploys code is being build on cluster of hosts, but that's
with DistCC... So yeah, build host can be single with one or multiple
destination hosts... And I believe a bit of tinkering would achieve perfect
spread, eg: one build host, one host to receive "assests" and broadcast
them to cdn, another host to recei

[2017-04-08 09:41] antonmedv commented on #125
Or even simpler(!)
[code]

[2017-04-08 09:43] antonmedv commented on #125
Docs will be there: https://github.com/deployphp/docs/blob/master/advanced/deploy-strategies.md

[2017-04-08 10:22] johnny-bit commented on #125
Migrating from "old" ways would be great too ;)

[2017-04-08 10:27] antonmedv commented on #125
@johnny-bit can you write about it in [UPGRADE.md](https://github.com/deployphp/recipes/blob/master/UPGRADE.md) later? :)

[2017-04-08 10:36] johnny-bit commented on #125
Someone should do just that :) I'll do that if I have time. No promises,
but I'll try :)

2017-04-08 12:27 GMT+02:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-04-10 11:22] nickdenardis commented on #125
I really like the direction of this!

The deploy path switching makes sense now that I see the second example, much cleaner.

If I can help let me know, I may have some time in the next week or two, hopefully.

[2017-04-10 12:20] antonmedv commented on #125
@nickdenardis will be cool if you can write new article about new local deploy strategy. Also planning to release v5 on next weeks.

[2017-04-10 12:33] nickdenardis commented on #125
@antonmedv for sure, not a problem :)

[2017-04-14 10:02] mikeymike opened #126 "Broken recipes with Deployer 5.x"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug // Question
| Deployer Version  | 5.x
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
This is likely more of a question than a bug.

With the changes in 5.x there is at least one recipe broken that I know of (rsync) ... should the master branch here be inline with the 5.x changes in deployer ?

Broken

[2017-04-14 10:04] antonmedv commented on #126
Now recipe not quite ready for v5 of deployer. Now i'm in process of refactoring entire recipe project and it may be broken. But i hope to find enough time to ship it faster.

[2017-04-14 10:12] johnny-bit commented on #126
Recipes are version tagged and connected with deployer version so...
recipes v3.x should work with deployer 3.x
recipes v4.x should work with deployer 4.x
recipes v5 once released will work with deployer 4.x

btw: thanks for using rsync recipe!

2017-04-14 12:04 GMT+02:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-04-14 10:13] antonmedv commented on #126
I dont think so)) v5 will work with v5

[2017-04-14 10:15] mikeymike commented on #126
Yeah versioning is great and makes sense, I was more wondering if master here was being kept up to date with changes in Deployer master as it's hard to work/test deployer beta while recipes are broken.

It's no problem anyway I'll override while I'm working on things and if I finish it before someone else I'll PR changes 👍

[2017-04-14 10:15] johnny-bit commented on #126
I done goofed. sorry!
yeah - point is: recpies major match deployer major. breaking changes
across major ver are expected.

2017-04-14 12:13 GMT+02:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-04-14 10:17] antonmedv commented on #126
👍🏻

[2017-05-10 12:25] hslatman commented on #116
Furthermore, shouldn't this run remotely? Right now the printed revision is based on the branch that is checked out locally. There's no guarantee that this is always the branch you're deploying remotely.

[2017-05-10 13:49] antonmedv commented on #116
@hslatman i'm agree.

[2017-05-15 15:49] lasselehtinen commented on #126
I noticed some recipes indeed breaking after updating to Deployer 5.0.0. At least slack and bugsnag recipes return the following exception. Seems like the `get('stages')` is gone in v5. This seems to affect a quite of other recipes as well.

[code]

[2017-05-15 16:54] antonmedv commented on #126
Yes, i'm working on rewriting whole recipes repository. Hope finish at weekends. Also making a lot of refactoring by the way. Recipes now – trash.

[2017-05-16 08:47] johnny-bit commented on #126
Lots of new docs and maybe samples to write will be had ;)

2017-05-15 18:54 GMT+02:00 Anton Medvedev <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-05-16 08:55] antonmedv commented on #126
Really hard, some help will be nice)

[2017-05-25 21:00] fdemiramon commented on #126
Hi,
I have fixed:
- Slack recipe (PR #131), but may be conflicting with other pending PR about Slack.
- Rollbar recipe (PR #133)

(@antonmedv, your work is just super awesome. Congrats)

[2017-05-26 06:01] antonmedv commented on #126
@fdemiramon thanks)

[2017-06-01 07:43] #119 closed

[2017-07-05 11:40] sleitz commented on #126
I noticed that the rsync recipe is also broken. It internally uses a call to `::getServer()`, but it seems the API has changed to something like "hosts". Are there any plans to bring the recipes to version 5 as well?

[2017-07-05 11:42] johnny-bit commented on #126
@antonmedv said he'll fix things. I believe. Or I'll fix some I use once I get a handful of fre time. Not now though, pesky human condition needs sleep.

[2017-07-05 11:49] antonmedv commented on #126
I'll try to find some free time on this weekend) Open source takes a lot of time

[2017-07-09 16:30] caiquecastro opened #142 "Yarn recipe not released yet"
| Q                 | A
| ----------------- | ---
| Issue Type        | Question / Feature Request
| Deployer Version  | 5.1.3
| Recipes Version   | 4.0.7
| Local Machine OS  | Ubuntu Linux
| Remote Machine OS | Ubuntu Linux

### Description
The recipes version 4 does not include yarn recipe yet.

### Steps to reproduce
Should it release a recipes v4 with the yarn recipe or a v5 one with the yarn

[2017-07-11 18:12] caiquecastro opened #143 "$php_errormsg getting deprecated"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | N/A
| Recipes Version   | master branch
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
The $php_errormsg global variable will be deprecated on the next PHP version (7.2). It should be replaced with error_get_last() on bugsnag recipe.

### Steps to reproduce

### Content of `deplo

[2017-07-19 09:40] christoph-pippan opened #145 "Composer package not up-to-date"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 5.1.3
| Recipes Version   | 4.0.7
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
If you download the current ZIP distribution via Composer and unzip it, the rsync recipe does not reflect the current code in the repository. It's still an older version wich will not work in Deploye

[2017-07-19 09:41] johnny-bit commented on #145
Recipes are not yet tagged for 5.0

2017-07-19 11:40 GMT+02:00 Christoph Pippan <notifications@github.com>:

--
Pozdrawiam,
Hubert Kowalski

[2017-07-19 09:58] christoph-pippan commented on #145
Ah, yes, I see. As a quick fix to get it working, I'm using the most current repository version at he moment.

[2017-07-19 10:43] antonmedv commented on #145
Will fix it) voluntarius work)

[2017-08-18 13:29] JonathanFoley commented on #126
Also receiving this error when using BugSnag recipie
[code]

[2017-08-18 13:33] antonmedv commented on #126
Yep, actually I'm planning to release Deployer v6 and Recipes v6 and after that work on Recipes v5 for Deployer v5 (If some one willing to help it will be much faster).

[2017-08-29 06:16] sleitz commented on #126
I don't see the point of investing time for v5 if you have a v6 set to be released soon. Are there any lifecycle or support issues that make it necessary?

[2017-08-29 06:48] antonmedv commented on #126
Deployer 6 and Recipes 6 already released. Then I found time I'll will backport this to v5.

[2017-08-29 06:49] antonmedv commented on #126
Maybe someone wants to help me with recipes? And clear it up for v5?

[2017-10-13 08:06] Xethron opened #150 "A simpler way for notifying chats?"
The idea around these recipes is to make tedious tasks easier, and the idea around chat integration is to notify everyone on the team when someone is doing something to production.

The 5 steps that should go into a chatroom is: Starting deploy, Successful deploy, Failed deploy, Attempting Rollback, Successful Rollback.

We've had a custom setup for notifying Hipchat for the above stages. This was

[2017-10-13 09:44] antonmedv commented on #150
What about separating function for notifying?

[2017-10-13 10:34] Xethron commented on #150
So, create a standard PHP function? Like `hipchat_notify();`

[2017-10-13 10:51] antonmedv commented on #150
Something like or `Hipchat::notify()`

[2017-10-18 16:21] adriandmitroca opened #154 "Rollbar recipe"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

Rollbar's recipe would need some improvements due to their official documentation, which says:
- `rollbar_username` is optional param, but required in Deployer. It requires totally useless & hardcoded data f

[2017-10-18 16:34] antonmedv commented on #154
I think it's okay. If you can send a PR with screen shots of improvements  will be really cool.

[2017-10-28 17:39] Konafets opened #155 "Combine phar installation with recipes"
| Q                 | A
| ----------------- | ---
| Issue Type        | Question
| Deployer Version  | 6.0.3
| Recipes Version   | 6.0
| Local Machine OS  | OSX
| Remote Machine OS | Linux

### Description
I installed Deployer as described [here](https://deployer.org/docs/installation#download-phar-archive). Now I need the NPM recipe, which I installed via composer require to the project and requi

[2017-10-28 18:02] antonmedv commented on #155
Yes, this is an issue for now. Will solve it in future release.
Now you can use full path to recipe: `vendor/deployer/recipes/recipe/*.php`

[2017-11-01 12:43] razseo commented on #154
About username - on my server when use deploy from console it's works:
`set('user', isset($_SERVER['USER']) ? $_SERVER['USER'] : 'unknown');`

[2017-11-05 10:27] joepsyko opened #158 "slack:notify:failure"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | 6.0.3
| Recipes Version   | 6.0.1
| Local Machine OS  | OSX
| Remote Machine OS | Linux

### Description
Could be possible to include a slack notification for deployment error?

[2017-11-05 10:40] antonmedv commented on #158
Yes, PR are welcome.

[2017-11-05 11:16] joepsyko commented on #158
Done, hope I did it correct.

[2017-11-06 16:44] #158 closed

[2017-11-07 21:23] gavinhewitt opened #160 "Can't set channel for Slack recipe?"
| Q                 | A
| ----------------- | ---
| Issue Type        | Question

### Description
Looking at older versions of the Slack recipe you could set channel and custom title etc, but they seem to be removed. Am I missing something?

[2017-11-08 03:36] antonmedv commented on #160
Maybe, I refactored it a lot. What you are trying to achieve?

[2017-11-08 08:17] gavinhewitt commented on #160
I'd like to set the standard stuff like icon, title etc, but most importantly I'd like to be able to specify the channel. Now a notification just goes to (I think) the first channel it encounters.

[2017-11-08 08:39] antonmedv commented on #160
Now slack recipe uses new slack's integration which allows you to setup channel. Click Add to Slack button and you will see.

[2017-11-08 08:43] gavinhewitt commented on #160
Ah, I saw the button but it was entirely clear what would happen. All clear now, thanks!

[2017-11-08 08:44] gavinhewitt commented on #160
Ah, I saw the button but it was not entirely clear (to me at least) what would happen. All clear now, thanks!

[2017-11-08 08:44] #160 closed

[2017-11-16 11:44] razseo commented on #155
Solution:
1. Go to /usr/share/php (By default it's in include_path)
2. Create file /usr/share/php/ext_include.php
`<?php
        require dirname (__FILE__) . '/vendor/autoload.php';
?>
`
3. Install recipes by composer
4. Open your deploy file and insert this after "namespace Deployer;"
`require 'ext_include.php';`

After this my dep script works with recipes.

[2017-11-23 13:09] karakum commented on #118
Fixed in https://github.com/deployphp/recipes/pull/163

[2017-12-05 15:50] Develeapment opened #164 "Deployer The command "/usr/bin/php /var/www/html/.../artisan --version" failed."
| Q
| Issue Type        | Question
| Deployer Version  | 6.0.3
| Recipes Version   | N/A
| Local Machine OS  | MacOS Sierra High
| Remote Machine OS | Ubuntu

### Description
I am trying to deploy to a machine, that worked like a charm yesterday. I don't recall changing anything, but it throws an error:

The command "/usr/bin/php /var/www/html/..../artisan --version" failed.
with Exit Code: 1 (Gen

[2017-12-05 20:12] #164 closed

[2018-01-30 14:39] ideea opened #170 "Telegram undefined variable"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug, Question, Feature Request
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
*If you're reporting a bug, please include following information*
Dunno who wrote this, but it should be fixed:
HP Notice:  Undefined variable: TELEGRAM_TOKEN_HERE in /Users/id

[2018-01-31 02:04] mikeymike opened #171 "Rsync recipe doesn't use SSH multiplexing"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | ^6
| Recipes Version   | ^6
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
Rsync reciple does not take ssh multiplexing into account.

### Steps to reproduce
Configure a multiplexing deployment with rsync recipe. Using verbose output you will be able to see that the ssh command d

[2018-01-31 05:03] antonmedv commented on #171
Need to get deeper. Maybe sshArguments and multiplexing should be putter to arg rsync.

[2018-01-31 14:57] mikeymike commented on #171
I think it's odd to pull the ssh arguments from the host and not have the multiplexing details there if it's enabled, I helped refactor some of that before so I think I can help out refactor that bit a little further

I'll take a look today to see if I can find the best approach

[2018-02-25 13:05] sasokovacic commented on #164
@Develeapment did you solve it? I have the same problem

[2018-02-25 14:26] Audit-a-la-Carte commented on #164
Can't recall, sorry! I think it was merely getting back to an older version, since something broke in that release?

[2018-02-25 15:55] antonmedv commented on #164
So what's problem?  Please describe.

[2018-02-25 22:16] sasokovacic commented on #164
I have the same problem. I have two laravel projects. Both version 5.5. In one everything is working ok,  in the other I get the same error... When I deploy it, there is no vendor folder but there is also no error for deploy:vendor task... The only difference is they are deployed to different VPS servers... The one that is working is on manually configured rackspace cloud, the other is on digitalo

[2018-03-14 09:11] naffiq commented on #170
@antonmedv

I think this issue should be closed now 😃

[2018-03-14 14:29] #170 closed

[2018-03-14 17:12] naffiq opened #174 "Telegram fail report task"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
Telegram recipe needs fail report and documentation for this feature.

[2018-03-24 09:35] lorisleiva commented on #125
Hello, thank you for this helpful thread. How difficult would it be to add a `set` method on the `Deployer\Task\Task` class, that redefines a variable only inside that task?

This would enable us to transform

[code]

into

[code]

As an alternative we could let the `local` method accept an optional local `deploy_path`, like so:

[code]

What do you think? 🙂

[2018-03-24 12:45] antonmedv commented on #125
I came out with better solution for local builds for v7. Will be simple and instead of adding set on tasks.

Just need to find time to implement it) now all my free time in Deployer Pro project. Hope to get some money to support open source development.

[2018-03-24 20:37] lorisleiva commented on #125
Cool, looking forward to see that. No problem take you time :)

[2018-04-12 08:35] stokjes opened #179 "Posting multiple messages using recipes is currently impossible"
| Q                 | A
| ----------------- | ---
| Issue Type        | Question
| Deployer Version  | 6+
| Recipes Version   | 6+
| Local Machine OS  | OSX
| Remote Machine OS | Vagrant/centos6

### Description
Currently all recipes don't have the possibility to post/send multiple requests to 3rd party libraries. This is because:

* Once() is used in the recipes;
* Recipes don't handle array valu

[2018-04-12 08:43] antonmedv commented on #179
Recipes implements only most common usage case. Don't try to fit all possible need. But in deployer you can simple override any stuff. Or just implement your own recipe. I think this is better approach for common recipes.

[2018-04-16 12:38] stokjes commented on #179
After discussions with our team we will stick with one release channel for now, so the question has been resolved.

[2018-04-16 12:38] #179 closed

[2018-04-23 19:07] chapterjason opened #181 "Several issues in discord"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.2
| Recipes Version   | 6.1
| Local Machine OS  | Ubuntu 17.10
| Remote Machine OS | Debian GNU/Linux 8 (jessie)

### Description
I'll just want to notify you that in the Discord recipe the `namespace Deployer;` statement is missing. Without that it comes to this error `[Error] Call to undefined fun

[2018-04-24 07:15] antonmedv commented on #181
Thanks! Fixed in 4b66561afe0e48c8c85b0865bb61494f20f0fb1c

[2018-04-24 07:15] #181 closed

[2018-04-24 11:12] chapterjason commented on #181
@antonmedv As I mentioned there are some more bugs.

Cause of the option cache for configuration (https://github.com/deployphp/deployer/blob/master/src/Configuration/Configuration.php#L87) the callback can‘t be executed. They don’t receive the argument that is given here https://github.com/deployphp/recipes/blob/master/recipe/discord.php#L34

 I also receive messages without the replacement of the

[2018-04-24 12:57] antonmedv commented on #181
Can you send PR to fix it?

[2018-04-24 13:17] chapterjason commented on #181
@antonmedv sure, what do you think about the solution I posted above? Are there any other ways ?

[2018-05-23 09:00] hyde1 opened #183 "Cachetool recipe no more compatible with php <7.1"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.2.0
| Recipes Version   | 6.1.1
| Local Machine OS  | Ubuntu 16.04.4 LTS with php7.0
| Remote Machine OS | Ubuntu 16.04.4 LTS with php7.0

### Description
Recipe cachetool is no more compatible with php 7.0. Needs php 7.1.
See https://github.com/gordalina/cachetool/issues/73 :

### Steps to reproduc

[2018-05-23 12:38] antonmedv commented on #183
@pschirch update cachetool.phar

[2018-05-23 12:54] pschirch commented on #183
@antonmedv We need a specific cachetool.phar version (3.2.1). Latest only works on PHP >= 7.1. Unfortunately the download source is [hard coded](https://github.com/deployphp/recipes/blob/c15a8e8a2d75e0ba61ec03fcf99c92bf6c0ef2ce/recipe/cachetool.php#L47).

[2018-05-23 13:09] antonmedv commented on #183
You can put a proper cachetool.phar version by hands. Recipe checks if there is a cachetool.phar before downloading newer.

[2018-05-23 14:31] jamieburchell commented on #183
Is this the same problem - I've started to see this within the last few hours:

` [Deployer\Exception\RuntimeException]
  The command "cd /var/www/vhosts/aslotel.co.uk/releases/17 && (/usr/bin/php cachetool.phar opcache:reset --fcgi=127.0.0.1:9000)" failed.
  Exit Code: 255 (Unknown error)
  Host Name: 46.101.80.231
  ================
  PHP Fatal error:  Default value for parameters with a class t

[2018-05-29 08:05] pschirch commented on #183
@hyde1 @antonmedv

Any updates?

@jamieburchell

You can temporarily define a task for installing a specific CacheTool version.

[code]

[2018-05-29 10:09] hyde1 commented on #183
Hi @antonmedv what do you think of my PR?

[2018-05-29 12:17] jamieburchell commented on #183
@pschirch Thanks. I spotted that we can download the phar and it'll use that, so I've been doing that just to get things working again.

[2018-05-30 00:59] antonmedv commented on #183
Hi, sorry for delay. Will merge it today.

[2018-05-30 08:42] antonmedv commented on #183
Done and released.

[2018-05-30 08:42] #183 closed

[2018-05-30 12:10] jamieburchell commented on #183
Thank you :)

[2018-06-05 20:15] llaumgui commented on #183
Not fixed for me on PHP 7.2:
[code]

[2018-06-06 07:03] antonmedv commented on #183
Try run failed command on server via ssh.

[2018-06-06 19:03] llaumgui commented on #183
Hum, problem is my php binary whitch map my docker container. Sorry.

[2018-07-01 15:28] classyentrepreneur opened #187 "Cloudflare recipe no longer working"
To fix this you may add zone ID to the recipe settings and change the code to this around line 60:

[code]

[2018-08-06 09:56] hanspeerstra opened #188 "Rsync excludes should come after includes"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.2
| Recipes Version   | 6.1.3
| Local Machine OS  | macOS High Sierra 10.13.6
| Remote Machine OS | CENTOS 6.10

### Description
I'm using rsync to upload the output of laravel mix from local to host. Using the exclude option does not give the desired result. Nothing is synced when i use the exclude

[2018-08-06 10:19] antonmedv commented on #188
Can you make pr?

[2018-09-12 10:23] jamieburchell opened #191 "Configuration parameter `cachetool_args` does not exist."
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.3.0
| Recipes Version   | 6.1.4
| Local Machine OS  | Win 10
| Remote Machine OS | CentOS 7.5 / PHP 5.6

### Description
Getting an error at `cachetool:clear:opcache`
`Configuration parameter `cachetool_args` does not exist.`

### Steps to reproduce
`dep deploy production`

### Content of `deploy.ph

[2018-09-12 10:35] antonmedv commented on #191
A bug. I think blame https://github.com/deployphp/recipes/pull/190
ping @trsteel88

[2018-09-12 11:42] trsteel88 commented on #191
Sorry about that. Submitted a pr to resolve.

[2018-09-12 12:50] antonmedv commented on #191
Should be fixed

[2018-09-12 13:16] antonmedv commented on #191
Done.

[2018-09-13 21:33] dharkness opened #193 "Allow skipping newrelic:notify for some stages"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.3.0
| Recipes Version   | 6.1.0

### Description

We do not monitor our dev and QA environments with New Relic. If you set `newrelic_app_id` to false, a malformed request is sent to the New Relic endpoint. Probably not a big deal, but best if it doesn't try submitting the request at all if either Ap

[2018-09-14 18:49] dharkness commented on #193
I did . . . to my own fork! :rofl: Okay, now I've created a pull request in this repo.

[2018-09-15 02:39] #193 closed

[2018-10-05 12:45] jlsjonas opened #195 "Support multiple 'localhost' configurations"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
As the title says, coming from https://github.com/lorisleiva/laravel-deployer/issues/18#issuecomment-427321196

[2018-10-09 18:55] Gamesh commented on #126
maybe we should add to recipes composer.json requirement for a specific deployer version. this repo already depends and uses code form dpeloyer repo but we don't specify it as a dependency, not sure why. It would help a lot to keep track of which deployer version recipes support and visa versa also would be easier to release changes to both projects without requiring to release a major version for

[2018-10-10 05:38] antonmedv commented on #126
Problem with it, deployer can be installed via phar and not through composer.

[2018-10-10 07:16] Gamesh commented on #126
ah true, but recipes can't be used as standalone they still depend on deployer, so maybe require-dev then, at least we would get autocompletion for deployer code

[2018-10-10 09:51] antonmedv commented on #126
Make sense

[2018-11-07 14:07] ahmadmayahi opened #200 "Email recipe"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | 6.x

### Description
For many people, email recipe is important to get an email whenever deployer fails.

So, we need a new recipe called `email`.

I suggest using PHP Mailer for this purpose.

If accepted, I will start to work on it.

[2018-11-08 01:34] antonmedv commented on #200
I'll be better for deployphp/recipes if no addition deps will be added. Mybe if php mailer necessary start it as separate repo?

[2018-11-08 07:48] ahmadmayahi commented on #200
Well, it’s not that necessary, I can use the PHP built in mail() function for this purpose.

[2018-11-13 01:50] hulupiao opened #202 "[Error] Call to undefined method Symfony\Component\Console\Helper\QuestionHelper::getInputStream()"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug, Question, Feature Request
| Deployer Version  | 6.3.0
| Recipes Version   | ^6.1
| Local Machine OS  | MacOS Mojave
| Remote Machine OS | ubuntu18

### Description
$ dep --file=./.ci/deployer/deploy.php config:hosts Test -vvv

 [Error] Call to undefined method Symfony\Component\Console\Helper\QuestionHelper::getInputStrea

[2018-11-13 05:02] antonmedv commented on #202
What is symfony console version?

[2018-11-28 08:46] hulupiao commented on #202
cat ~/.composer/vendor/symfony/console/CHANGELOG.md
CHANGELOG
=========

4.1.0

[2019-01-17 04:45] asafov commented on #174
Done. PR #207

[2019-01-17 06:04] antonmedv opened #208 "What about merging recipes and deployer?"
subj

[2019-01-17 06:05] asafov commented on #208
I think it will be better for project. BTW - what about Deployer CI (Pro)? It's stopped?

[2019-01-17 07:07] johnny-bit commented on #208
Sounds good. I think having main recipes + contrib was not as intuitive as it could be and release pace of both do match.

[2019-01-17 07:36] antonmedv commented on #208
@asafov development is continuing :) it's really big projects and have a lot of difficult parts, but I'm working on it. As well on new deployer v7, docker support, new website + new docs. So I hope to ship it soon, but dont know when.

[2019-01-17 07:40] asafov commented on #208
@antonmedv на самом деле у меня уже была идея сделать что-то типа конфигуратора с веб-мордой для cli деплойера. У меня есть каркас для CRUD, который я могу быстро развернуть, дальше останется только загнать туда все модули.
Идея была сделать возможность прямо из морды конфигурировать в том числе и flow. У тебя такого же рода продукт получается?

Translate: i developed now web interface for deploye

[2019-01-17 07:41] antonmedv commented on #208
@asafov can you show your web interface?

[2019-01-17 07:49] asafov commented on #208
https://ibb.co/nrdmMkg
For example. Builded from db properties. ACL, auth, data tables, filters, fields for edit (with types), etc.
Based on ZF2. I have idea for run deployer by gearman or any other technology and build config at the fly from databases. Arch was "Host" -> "Code base" -> "Application".
"Code base" - is unique product (by git), application is Host + Code Base + Settings.

[2019-01-17 08:32] naffiq commented on #174
@asafov that's great, thank you!

[2019-01-17 08:32] #174 closed

[2019-01-17 08:34] asafov commented on #200
There is one solution without deps - any cloud mailer with GET/Post API.

[2019-01-17 10:47] johnny-bit commented on #200
Well... cloud mailer would be another beast:

- Amazon SES uses raw data for email content and endpoint get params as auth or would require aws sdk for php
- Postmark can be handled with GET/POST api with json body as request, but also has dedicated nice to use php lib :)
- Mailgun same as above but holyyyy that dependencies in php lib :/
- SparkPost same as above
- Sendgrid same as above, but a b

[2019-01-22 15:52] mediact-pipelines commented on #202
FYI, I ran into a similar issue today
I have both Deployer (v6.4.3) and Deployer recipes (6.2.1) installed (globally)
Deployer requires ` "symfony/console": "~2.7|~3.0|~4.0"`
As a result `symfony/console:4.2.0` gets installed and my recipe fails on calling `dep` with
[code]
If I manually require `symfony/console:^3` (which results in installing v3.4.21) I can use my recipe again.
Have not found th

[2019-01-22 17:13] johnny-bit commented on #202
According to `symfony/console` changelog @ https://github.com/symfony/console/blob/master/CHANGELOG.md getInputStream was removed in v 4.0.0

[2019-01-24 10:47] adrienfr opened #210 "Issue with recipe/sentry"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.3.0
| Local Machine OS  | Debian GNU/Linux 9 (stretch)
| Remote Machine OS | N/A
| PHP Version | 7.0.32

### Description
Since my last `composer update`:

I have this error when typing any `php bin/dep [...]` command :

`root@cd5281a61ed2:/var/www/site/symfony# php bin/dep ssh staging`

The error se

[2019-01-24 12:08] johnny-bit commented on #210
Oh, looks like this shorthand expression needs php 7.1:
http://php.net/manual/en/migration71.new-features.php

czw., 24 sty 2019 o 11:47 Adrien Wilmet <notifications@github.com>
napisał(a):

--
Pozdrawiam,
Hubert Kowalski

[2019-02-22 07:10] andrey-helldar opened #215 "[slack] No branch or commit name"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.4.3
| Recipes Version   | 6.2.1
| Local Machine OS  | windows 10
| Remote Machine OS | centos 7 on production and ubuntu 18 on deployment

### Description
In the sent message in the slak there is no name of the branch or commit

### Steps to reproduce
[code]

![photo_2019-02-22_09-54-36](https://use

[2019-03-18 10:42] unrup1 opened #216 "add npm build to npm recipe"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | ^6.4
| Recipes Version   | ^6.2
| Local Machine OS  | macOS
| Remote Machine OS | debian stretch

### Description
Add npm build to the npm recipe. if you want i can create the pull request.

### Content of `deploy.php`
[code]

[2019-04-03 04:55] manikbajaj commented on #164
I faced the same problem and it turned out that I had removed my storage folder from the `.gitignore` file and the same got pushed to the remote server upon deployment which caused this error. This has got nothing to do with deployer but with Laravel itself.

Just so it helps someone with the same issue, this is how I resolved it:
1. Add the `/public/storage` folder to your `.gitignore` file.
2. E

[2019-05-14 15:17] Gamesh commented on #210
indeed, sorry for that, when i wrote this i missed that parent project requires php 7.0 and this syntax is in 7.1 only

[2019-05-14 18:31] #210 closed

[2019-05-23 07:44] gaambo opened #222 "Rsync filterperdir wrong variable"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
In the `rsync_filter` function it checks for the `$filterPerDir` variable but then inserts the `$filterFile` variable into the `--filter='dir-merge'` flag ([rsync.php#74](https://github.com/deployphp/rec

[2019-05-23 07:47] gaambo commented on #222
Just put this in a PR - really a quick fix, because it's just a wrong variable name.

[2019-05-27 07:32] gaambo commented on #222
was closed with PR #223 in commit c3ce86a4b9465f16ad2ce349c9fde07217a7aab4

[2019-05-27 07:32] #222 closed

[2019-06-03 05:58] #202 closed

[2019-06-25 07:54] Baachi opened #225 "RocketChat Integration"
| Q                 | A
| ----------------- | ---
| Issue Type        | Question, Feature Request
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description

Hey guys!

i recently build a [recipe](https://github.com/Baachi/deployer-rocketchat) for [rocketchat](https://rocket.chat/), because we use this internally in our company.

I thin

[2019-06-25 08:03] antonmedv commented on #225
Will be cool.

[2019-06-27 07:27] Baachi commented on #225
Closed.

[2019-06-27 07:27] #225 closed

[2019-07-12 11:31] atymic opened #227 "Sentry recipe fails when there's no .git directory"
Deployer version: `6.4.5`
PHP version: `7.3`

When using the sentry recipe, if there's no `.git` folder the deployment fails. This is because my deployment is run from gitlab CI, inside a docker container.

When using the following:

[code]

I get the error:
[code]

I tried overriding the `commits` option to a blank array, but this fails the validation.

[code]

I'd be happy to create a PR to add

[2019-07-12 11:56] antonmedv commented on #227
PR will be cool.

[2019-07-14 10:51] atymic commented on #227
PR open in #228 😄

[2019-07-19 13:43] nkajic opened #229 "MS Teams notification integration"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request with PR
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
I can provide PR for MS Teams integration if there is interest.

[2019-07-19 14:22] antonmedv commented on #229
Yes, this will be cool.

[2019-07-20 01:36] #227 closed

[2019-07-23 09:27] #229 closed

[2019-07-24 16:14] endelwar opened #231 "Website recipes documentation is not aligned with repository docs"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | N/A
| Recipes Version   | 6.2.2
| Local Machine OS  | N/A
| Remote Machine OS | N/A

### Description
https://deployer.org/recipes/sentry.html has outdated contents compared to https://github.com/deployphp/recipes/blob/6.2.2/docs/sentry.md

[2019-08-15 21:01] gander opened #233 "Problems configuring cachetool"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6
| Recipes Version   | 6
| Local Machine OS  | Ubuntu
| Remote Machine OS | FreeBSD

### Steps to reproduce
1) Install recipes
2) Install `cachetool.phar` as `~/bin/cachetool`
3) Configure (below)
4) Run deployment

### Content of `deploy.php`
[code]

### Output log
[code]

It works because it points

[2019-08-16 10:58] #233 closed

[2019-08-22 10:12] MarnuLombard opened #235 "Sentry Release/Deploy fails due to server response"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.3
| Recipes Version   | 6.13
| Local Machine OS  | MacOS Mojave 10.14.6
| Remote Machine OS | Debian Stretch 9.9

Specifically related to `recipes/sentry.php`
So I'm pinging @Gamesh and @antonmedv
As they seem to be the maintainers there.

### Description
In the second part of the `deploy:sentry` ta

[2019-08-23 06:18] Gamesh commented on #235
hmm, hard to tell, most likely your self-hosted sentry is out of date with sentry service. For other people and me included it works with hosted one. You could try using an older version of this recipe maybe that will work

[2019-08-23 06:19] MarnuLombard commented on #235
Okay cool. I'll update my server instance to 9.0 and give feedback here

[2019-08-23 06:26] Gamesh commented on #235
it seems there is no way to negotiate api version and it still in flux

[2019-08-23 14:42] MarnuLombard commented on #235
I see.
It's possible that you drop the check for `$response['id']` and the false negatives on successful deploys will go away.

However, I have upgraded to version 9.1.2 and the error no longer comes up  - so I'm going to close this issue.

Thank you for getting back to me so quickly.

[2019-08-23 14:42] #235 closed

[2019-08-29 09:50] Julien-Bunel opened #236 "Segmentation Fault / Slack Recipe / PHP 7.3"
| Q                 | A
| ----------------- | ---
| Issue Type        | Segmentation Fault Error with php 7.3 and slack:notify
| Deployer Version  | 6.4.6
| Recipes Version   | 6.2.2
| Local Machine OS  | Mac OS X 10.14.6
| Remote Machine OS | Ubuntu 16.04

### Description
When i use slack:notify task with php 7.3 i've got this error Segmentation Fault

[2019-08-29 09:53] #236 closed

[2019-09-10 19:17] alexsegura opened #238 "Problem resolving CacheTool binary"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.5.0
| Recipes Version   | dev-master
| Local Machine OS  | Mac OSX
| Remote Machine OS | Debian Jessie

### Description

I'm trying to use the cachetool recipe, but it fails.
Actually, the command in `locateBinaryPath` fails and returns `1` (I don't have `cachetool.phar`, the recipe should download

[2019-11-05 14:17] #83 closed

[2019-11-18 11:49] sandermarechal opened #246 "Catch-22: Deployer installs composer dependencies, but deployer/recipes is a dependency"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.6.0
| Recipes Version   | 6.2.2
| Local Machine OS  | Linux
| Remote Machine OS | Linux

### Description
Using these recipes in a CI/CD pipeline results in a catch-22. Deployer runs composer install (which installs these recipes) but deployer cannot run until the recipes are installed.

Also, in CI/

[2019-11-18 11:51] sandermarechal commented on #246
My solution so far is to just copy/paste the recipe I need into my own project and drop deployer/recipes.

It would be much better in these recipes were in the standard deployer.phar file, or if it is possible to create a custom deployer.phar file that includes these recipes.

[2019-11-18 12:47] antonmedv commented on #246
Actually this what I'm working on: copy all recipes to the main repo under `contrib`.

[2019-11-18 14:48] sandermarechal commented on #246
That would be great!

[2020-01-09 11:33] ezitisitis opened #249 "Zulip recipe"
| Q                 | A
| ----------------- | ---
| Issue Type        | Feature Request
| Deployer Version  | 6.x

### Description
At company we use Zulip and starting to think that we can make an integration of Deployer in our chats. Unfortunately didn't found an Zulip recipe.

If accepted, I will start to work on it.

[2020-01-09 11:43] johnny-bit commented on #249
Do it :) The more the merrier!

[2020-01-24 20:32] bretvanhorn opened #252 "releaseIsGitDirectory() needs to return 0 if it's not a git repo"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | N/A
| Recipes Version   | N/A
| Local Machine OS  | MacOS Catalina
| Remote Machine OS | Ubuntu 18.04.2

### Description
When deploying to a remote host using rsync that is not a git repo, the releaseIsGitDirectory() method returns an improperly typed response and causes deployment to fail on the sent

[2020-02-05 15:30] pedroresende commented on #215
exactly the same problem with `--tag`

[2020-02-05 15:40] pedroresende commented on #215
@andrey-helldar found a work around for this. In your deploy.php file, add the following

[code]
for the case of the tag,

[code]

[2020-02-07 14:29] alterphp opened #254 "Rollbar notify do not work with --hosts option"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.7.3
| Recipes Version   | 6.2.2
| Local Machine OS  | Ubuntu 19.10
| Remote Machine OS | Debian 9

### Description
Using rollbar:notify for a single target deployment without --hosts option works => Rollbar get notification.
Using rollbar:notify for a single target deployment **with** --hosts option

[2020-03-31 16:27] jespinal opened #257 "New cachetool release (5.X) breaks cachetool recipe expectations for PHP 7.1"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Deployer Version  | 6.7.0
| Recipes Version   | 6.2.2
| Local Machine OS  | Ubuntu 18.04.4 LTS (Linux deathstart 5.3.0-42-generic #34~18.04.1-Ubuntu SMP Fri Feb 28 13:42:26 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux)
| Remote Machine OS | CentOS Linux release 7.7.1908 (Core)

### Description

After the release of the **5.X*

[2020-04-01 16:47] #257 closed

[2020-04-25 20:02] #116 closed

[2020-04-25 20:02] #118 closed

[2020-04-25 20:02] #125 closed

[2020-04-25 20:02] #126 closed

[2020-04-25 20:02] #142 closed

[2020-04-25 20:02] #143 closed

[2020-04-25 20:02] #145 closed

[2020-04-25 20:02] #150 closed

[2020-04-25 20:02] #154 closed

[2020-04-25 20:02] #155 closed

[2020-04-25 20:02] #171 closed

[2020-04-25 20:02] #187 closed

[2020-04-25 20:02] #188 closed

[2020-04-25 20:02] #191 closed

[2020-04-25 20:02] #195 closed

[2020-04-25 20:02] #200 closed

[2020-04-25 20:02] #208 closed

[2020-04-25 20:02] #215 closed

[2020-04-25 20:02] #216 closed

[2020-04-25 20:02] #231 closed

[2020-04-25 20:02] #238 closed

[2020-04-25 20:02] #246 closed

[2020-04-25 20:02] #249 closed

[2020-04-25 20:02] #252 closed

[2020-04-25 20:02] #254 closed

[2020-04-25 20:02] #72 closed

[2020-04-25 20:02] #82 closed

[2020-04-25 20:02] #94 closed

[2020-04-25 20:02] #97 closed

[2020-04-25 20:02] #101 closed

[2020-04-25 20:02] #103 closed

[2020-04-25 20:02] #114 closed